<section class="about">
    <!--  <p class="about-links">
      <a href="http://www.cssflow.com/snippets/login-form" target="_parent">View Article</a>
      <a href="http://www.cssflow.com/snippets/login-form.zip" target="_parent">Download</a>
    </p>-->
    <p class="about-author">
      &copy; 2015&ndash;2016  Copy Righted
      <br>
      Developed by <a href="https://github.com/ggoutham27" target="_blank">Gowtham Golla</a>
  </section>
   
</body>
</html>